@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono');

:root {
    --color-bg: #282c34;
    --color-fg: #c678dd;
    --color-link: #abb2bf;
    --color-link-visited: #56b6c2;
    --color-link-hover: #aecd15;
}

html,
body {
    background: var(--color-bg);
    color: var(--color-fg);
    font-family: "JetBrains Mono", monospace;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.gif img {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 35px;
}

/* head class, first p */
.head p:first-child {
    margin: 0px;
}
/* head class, second p */
.head p:nth-child(2) {
    margin-top: 15px;
}


.date {
    font-size: 24px;
    margin-bottom: 10px;
}

.bookmarks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category {
    flex: 1 1 calc(33.33% - 40px); /* three categories per row */
    max-width: calc(33.33% - 40px);
}

/* .category {
    flex: 1 1 200px;
    max-width: 200px;
} */

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.title {
    font-size: 25px;
    margin-bottom: 10px;
}

li {
    font-size: 18px;
    list-style-type: none;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 100%;
}

a:link {
    text-decoration: none;
    color: var(--color-link);
    display: flex;
    align-items: center;
    width: 100%;
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    color: var(--color-link-hover);
}

.links li a img {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.spinner-box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

/* Spinner Animations */
@keyframes spin3D {
    from {
        transform: rotate3d(.5, .5, .5, 360deg);
    }

    to {
        transform: rotate3d(0deg);
    }
}

.leo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.blue-orbit {
    width: 165px;
    height: 165px;
    border: 1px solid #91daffa5;
    animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
    width: 120px;
    height: 120px;
    border: 1px solid #91ffbfa5;
    animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
    width: 90px;
    height: 90px;
    border: 1px solid #ffca91a5;
    animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
    width: 60px;
    height: 60px;
    border: 2px solid #ffffff;
    animation: spin3D 10s linear 0s infinite;
}

.w1 {
    transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
    transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
    transform: rotate3D(.5, 1, 2, 90deg);
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .left-container {
        width: 40%;
        margin-bottom: 0;
    }

    .right-container {
        width: 60%;
    }

    .head {
        font-size: 72px;
    }
}

@media (min-width: 1024px) {
    .bookmarks {
        justify-content: space-between;
    }
}
